@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
/* RESET */

html{ /* sélecteur propriété valeur */
    font-size: 62.5%;  /* 1.000rem root em 10px */
    scroll-behavior: smooth;
  }

body{
      font: 1.6rem sans-serif;
      height: 100vh;
      margin: 0;
      padding: 0;
      letter-spacing: 1px;
      position: relative;
  }

h1,h2,h3,h4,img{
    margin: 0;
    padding: 0;
  }

header,p,a,main,footer{
      margin: 0;
      padding: 0;
      overflow: hidden;
      font-family: 'Open Sans', sans-serif;
      
  }

  :root{
    --color-form: #F2A0ED;
    --bgcolor-P: #AE6BF2;
    --bgcolor-H: #3E3E40;
    --bgcolor-bouton: #85F2DE;
    --color-bg: #0D0D0D;
    --color-texte: #fff;
  }

*{
    box-sizing: border-box;
  }

 /*  THEME */

 body{
  background-color: var(--color-bg);
  color: var(--color-texte);
  
 }
.ligne_rose{
  background-color: var(--color-form);
  width: 0.5rem;
  height: 100vh;
  position: fixed;
  margin-left: 2rem;
  margin-top: 0;
}
.ligne_verte{
  background-color: var(--bgcolor-bouton);
  width: 0.5rem;
  height: 100vh;
  position: fixed;
  margin-left: 4rem;
  margin-top: 0;
}
header{
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  width: 80%;
  margin: 1rem auto;
  padding: 3rem;
  background-color: var(--bgcolor-H) ;
  color: var(--color-texte);
  border-radius: 1rem;
  text-align: center;
 }

 .h2_accueil{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
 }

 .p_accueil{
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 70%;
  margin: 1rem auto;
  padding: 5rem;
  background-color: #AE6BF2;
  border-radius: 1rem;
  text-align: center;
  line-height: 3rem;
 }

 .display_grid{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 5rem auto;
  padding: 5rem;
  background-color: var(--bgcolor-H);
  width: 80%;
  border-radius: 1rem;
  color: #0D0D0D;
  text-align: center;
  list-style: none;
 }
 .img_accueil{
  margin: 1rem;
  background-color: var(--bgcolor-bouton);
 }
 legend{
  padding: 2rem;
 }

 .bouton_inscription{
  display: flex;
  justify-content: center; 
  align-items: center;
  background-color: var(--color-form);
  width: 40%;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 2rem;
  text-decoration: none;
  color: var(--color-bg);
 }
.clic_inscription{
  text-decoration: none;
  color: var(--color-texte);
  cursor: pointer;
}

footer{
  display:flex;
  justify-content: center; 
  align-items: center;
}
