
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
/*  THEME */
:root{
  --color-form: #F2A0ED;
  --bgcolor-P: #AE6BF2;
  --bgcolor-H: #3E3E40;
  --bgcolor-bouton: #85F2DE;
  --color-bg: #0D0D0D;
  --color-texte: #fff;
}
body{
    background-color: var(--color-bg);
    color: var(--color-texte);   
   }

   /* LIGNES COULEURS THEME */
  .ligne_rose{
    background-color: var(--color-form);
    width: 0.5rem;
    height: 100vh;
    position: fixed;
    margin-left: 2rem;
    margin-top: 0;
  }
  .ligne_verte{
    background-color: var(--bgcolor-bouton);
    width: 0.5rem;
    height: 100vh;
    position: fixed;
    margin-left: 4rem;
    margin-top: 0;
  }
  header.page_accueil{
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */  
    width: 80%;
    margin: 2rem auto!important;
    line-height: 6rem;
    background-color: var(--bgcolor-H) ;
    color: var(--color-texte);
    border-radius: 1rem;
    text-align: center;
   }
/*   MENU ROSE GAUCHE */
  .nav_bar{
    width: 13%;
    height: 18%;
    position: fixed;
    z-index: 100;
    background-color: var(--color-form);
    color: var(--color-texte);
    margin-left: 0;
    line-height: 5rem;
    border-radius: 1rem;
  }

  .menu_nav_bar_a{
    padding: 1rem;
    text-decoration: none;
    text-align: center;
    font-size: larger;
    font-style: inherit;
    color: black;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
  }
  .menu_nav_bar_a:hover {
      background-color: #fff;
      transform: scale(1.05);
      font-weight: bold;
      width: 100%;
    }

    /* ENCADRE 2E ACCUEIL */
    .p_accueil{
      display: flex;
      justify-content: center; 
      align-items: center; 
      width: 70%;
      margin: 1rem auto;
      padding: 5rem;
      background-color: #AE6BF2;
      border-radius: 1rem;
      text-align: center;
      line-height: 3rem;
     }

    /*  HEADER DASHBOARD +>NAVIGATION DASHBOARD*/
  .navigationDashboard{
    font-size: x-large;
    text-transform: uppercase;
    padding: 1rem;
  }

 .bar_menu{
    color:#0D0D0D;
    background-color: var(--bgcolor-P);
  } 
  :hover .navigationDashboard{
    background-color: var(--bgcolor-bouton);
    color: #0D0D0D;
    font-size: x-large;
    text-transform: uppercase;
    text-decoration: none;
  }


 /*  AFFICHAGE DES EVENTS ACCUEIL  */
   .display_grid {
    display: grid;
    width: 80%;
    margin: 2rem auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    list-style: none;
    background-color: #3E3E40;
    border-radius: 1rem; 
 
     }
/* AFFICHAGE MY EVENTS */
     .display_grid_my{
      display: grid;
    width: 100%;
    height: 100%;
    margin: 2rem auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    list-style: none;
    background-color: #3E3E40;
    border-radius: 1rem; 
 
     }
     /* TITRE EVENT */
     .h3_events{
      background-color: var(--bgcolor-bouton);
      color:black!important;
      text-align: center;
      text-transform: uppercase;
      margin-top: 2rem;
     
    }
   /*  DESCRIPTION EVENT */
    .h3_events_d{
      font-style: italic;
      background-color: #0D0D0D;
      color: #fff;
      text-align: center;
    }
    /* IMAGE EVENT */
    .photo_event_accueil img{
      width: 100%;
      
      /* object-fit: cover; */
    }
     li.img_accueil{
     height: 40rem;
    
    }
   .img_accueil img{
      width: 100%;
      height: 50%;
      object-fit: cover;
      } 
     /* AFFICHER ALL EVENTS */

.h1_all_events{
  color: #fff;
  background-color: #AE6BF2;
  font-size: xx-large;
  text-align: center;
}
.all_events_list{
  background-color: #F2A0ED;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem auto;
  color: #fff!important;
  padding: 0.1rem;
  
}
.all_events_description{
  background-color: #fff;
  color: #0D0D0D;
}
.photo_event_all{
  width: 30%;
  height: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem auto;
  object-fit: cover;
}

/* ADMIN MODIF EVENT */
.bouton_admin{
  display: block;
  justify-content: center; 
  align-items: center;
  gap: 0.5rem;
 /*  margin: 2rem auto; */
}
.clic_modif {
  display: block;
  justify-content: center; 
  align-items: center;
  background-color: #AE6BF2;
  color: #fff;
  border-radius: 2rem;
  text-decoration: none;
  text-align: center;
  font-size: larger;
  font-weight: bold;
  cursor: pointer;
  width: 80%;
  height: 10%;
  margin: 1rem;
}
/* afficher events user*/
.show_event{
  margin: 1rem auto;
  width: 80%;
  scroll-behavior: smooth;
}
.show_event_my{
  margin: 1rem auto;
  width: 80%;
  scroll-behavior: smooth;
}


      /* BOUTON INSCRIPTION/CONNEXION ACCUEIL */
      .bouton_inscription{
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
       }
      .clic_inscription{
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        background-color: #F2A0ED!important;
        width: 30rem;
        height: 5rem;
        line-height: 5rem;
        border-radius: 2rem;
        text-decoration: none;
        text-align: center;
        font-size: larger;
        font-weight: bold;
        color: #fff!important;
        cursor: pointer;
        padding: 1rem;
        margin: 3rem auto; /* Espacement entre les boutons */
        gap:2rem;
      }


   
  /*  FORMULAIRE INSCRIPTION*/
  /* BOUTON VALIDER INSCRIPTION */
  .validation_inscription{
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   /* BOUTON DEJA ENREGISTRE */
   .already_registered{
    display:flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center;
    font-size: large;
    height: 20%;
    background-color: #AE6BF2;
    color:#fff;
    margin: 2rem;
    padding: 1rem;
    font-style: italic;
  }

  /* FORMULAIRE INSCRIPTION MEMBRE */
input[type="text"],
input[type="date"],  
input[type="search"],
input[type="email"],
input[type="password"],
input[type="image"],
input[type="submit"]{
    border: 0;   
}

.inner-form_inscription{
    width: 40%;
    margin: 5rem auto 2rem; 
    border-radius: 1rem;  
}
.label{
  padding: 1rem 0 ;
  font-size: 8rem;
}
#photo{
    padding-left: 0rem;
    font-weight: bolder;
    color: black;
}
.inner-form_inscription form input{
    border-bottom: solid .3rem var(--bgcolor-bouton);
    background-color: aliceblue;
    color:#0D0D0D;
    font-size: large;
}

.inner-form_inscription form input[type="image"],
.inner-form_inscription form input[type="submit"]{
    border-bottom: none; 
}

.inner-form_inscription form [placeholder]{
    transition: all .6s ease-in-out;
    padding: 0.8rem;
    color: var(--bgcolor-H);
}

/* bouton VALIDER */
.inner-form_inscription form input[type="submit"]{
    background-color: var(--color-form);
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    width: 50%;
    height: 10rem;
    color: black;
    text-transform: uppercase;
    line-height: 5rem;
    border-radius: .4rem;
    font-size: larger;
 }

 /* SE CONNECTER => LOGIN.BLADE */
 .login{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
 }
 /* BOX REMEMBER ME */
 .remember_me{
    display:flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    text-align: center;
    font-size: large;
    width: 30rem;
    height: 3rem;
    background-color: #AE6BF2;
    color:#fff;
    margin: 2rem auto;
    border-radius: .4rem;
 }
 .remember_me_box{
  height: 3rem;
  margin: 1rem;
 }
/*  MOT DE PASSE OUBLIE => LOGIN.BLADE */
 .forgot{
  display:flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  color:#fff;
  margin: 2rem;
  font-size: medium;
 }
/* SE CONNECTER */
 .log_in{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    background-color: #85F2DE!important;
    width: 60%;
    height: 5rem;
    line-height: 5rem;
    border-radius: 2rem;
    text-decoration: none;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    cursor: pointer;
    padding: 1rem;
    margin: 3rem auto; /* Espacement entre les boutons */
    gap:2rem;
 }


/* FICHE MEMBRE PAGE=> DASHBOARD */
.page_ficheAdmin{
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    width: 60%;
    margin: 1rem auto;
    padding: 3rem;
    background-color:#3E3E40 ;
    color: #fff;
    border-radius: 1rem;
    text-align: center;
   }
   .ficheMembre{
    background-color: #fff;
    width: 100%;
    color: #AE6BF2;
  }
   .h2_fiche{
      display: flex;
       justify-content: center; 
      align-items: center;
      padding: 1rem;
      font-size: 1.5rem;
     }
     .ul_fiche_membre{
      background-color: #3E3E40;
      padding: 2rem;
      font-weight: bold;
     }
    

      /* .photo_membre{
          display: flex;
          flex-direction: column;
          justify-content: center; 
          align-items: center;
          padding: 1rem;  
          width: 40%; 
          margin: 1rem auto;
      } */

  
  /* BOUTON FICHE MEMBRE*/
  .page_membre{
    text-align: center;
    list-style: none;
  }
  
  .bouton_accueil{
      display: flex;
      justify-content: center; 
      align-items: center;
      margin: 5rem auto;
      background-color: var(--color-form);
      padding: 2rem;
      width: 20%;
      border-radius: 2rem;    
  } 
  .clic_retour_accueil{
    text-decoration: none;
    color: var(--color-texte);
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    height: auto;
    text-transform: uppercase;
    font-size: inherit;
    
  }
  
  /* BOUTON FICHE MEMBRE ADMIN */
  .btn_admin{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    width: 60%;
    margin: 1rem auto;
  }   
  .bouton_modifier{
  margin: 5rem auto;
  background-color: var(--color-form);
  padding: 2rem;
  width: 20%;
  border-radius: 2rem; 
  text-align: center;   
  }
  .clic_modifier{
    text-decoration: none;
    
    color: var(--color-texte);
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    height: auto;
    text-transform: uppercase;
    font-size: inherit;
  }
  
  .clic_supprimer{
    text-decoration: none;
    color: var(--color-texte);
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    height: auto;
    text-transform: uppercase;
    font-size: inherit;
  }
  
/*   CREER EVENT */
.creer_event{
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centre horizontalement */
  width: 60%;
  margin: 1rem auto;
  padding: 1rem;
  background-color: var(--bgcolor-H) ;
  color: #0D0D0D;
  border-radius: 1rem;
  gap: 0.2rem;

}
.creer_event label{
  color: #fff;
}
.validation{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
  background-color: var(--color-form);
  padding: 1rem;
  width: 30%;
  border-radius: 1rem; 
  text-align: center; 
  text-transform: uppercase; 
  color: #fff; 
 }
 .h2_accueil{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
  background-color: var(--bgcolor-P);
  color:#fff;
 }
 li{
  margin: 1rem;
  line-height: 3rem;
  text-align: left;
}
.photo_event{
  display: flex;
  justify-content: center; 
  align-items: center;   
}
img{
width: 15%;
}

/* PAGE STORE.BLADE */
.event_enregistre{
  color: #fff;
  background-color: var(--bgcolor-bouton);
  font-size: xx-large;
  text-align: center;
  padding: 3rem;
}


/*  //////////////////////////// */
  footer{
    text-align: center; /* Centrer horizontalement */
    margin-top: 7rem; /* Marge supérieure pour plus d'espace */ 
  }
   .img_logo img{
    width: 20%;
    height: auto;
    margin: 2rem;
  } 
  .img_logo_log img{
    width: 20%;
    height: auto;
    display: block;
    margin: auto;
  }
.img{
    width: 100%;
    border-radius: 2rem;
}
